@model EmployeeEditViewModel

@{
    ViewData["Title"] = "Create Employee";
}

<h1>@ViewData["Title"]</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @*Il form e' stato "trasformato" in una partial view. 
            Il codice sottostante e' stato quindi spostato in un altro file che e' possibile riutilizzare in piu' punti*@

            @*<div class="form-group">
                <label asp-for="EmployeeCode" class="control-label"></label>
                <input required asp-for="EmployeeCode" class="form-control" />
                <span asp-validation-for="EmployeeCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input required asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input required asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthdate" class="control-label"></label>
                <input required asp-for="Birthdate" class="form-control" />
                <span asp-validation-for="Birthdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level" class="control-label"></label>
                @Html.DropDownListFor(model => 
                    model.Level, 
                    Model.AvailableLevels, 
                    "-- Select a level --", 
                    new { @class = "form-control", required = "required"})
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>*@

            <partial name="_Form" model="Model"/>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
